@charset "utf-8";

.input-small{
	max-width: 120px !important;
}
.input-medium{
	max-width: 220px !important;
}
.input-large{
	max-width: 400px !important;
}
.input-extralarge{
	max-width: 600px !important;
}