ul.vbULzqsjt {
  position: absolute;
  visibility: hidden;
}
.vbULzqsjt {
  position: absolute;
  visibility: hidden;
  display: block;
  overflow: auto;
  font-size: 1px;
  padding: 2px;
  margin: 0px;
  border: 1px solid #646464;
  background-color: #FFFFFF;
}
.vbULzqsjt table {
  border-collapse: separate;
  border-spacing: 0px;
}
.vbULzqsjt tr {
  font-size: 1px;
  cursor: pointer;
  background-color: #FFFFFF;  
}
.vbULzqsjt tr.over {
  background-color: #D7EDF3;
}
.vbULzqsjt td {
  border: 1px solid #FFFFFF;
  padding: 3px;
  text-align: left;
}
.vbULzqsjt tr.over td {
  border-color: #BFD2D8;
}
.vbULzqsjt td a {
  font-family: Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
.vbULzqsjt tr.over a {
  font-family: Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
.vbULzqsjt tr.popup {
  background-color: #D7EDF3;
}
.vbULzqsjt tr.popup td {
  border-color: #BFD2D8;
}
.vbULzqsjt tr.popup a {
  font-family: Tahoma;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
.vbULzqsjt tr.separator div {
  height: 3px;
  background-image: url(sepzqsjt.gif);
}
